@using System.Security.Claims
@{
    string UserName = User.Identities.First().IsAuthenticated ? User.Identities.First(u => u.IsAuthenticated).FindFirst(ClaimTypes.Name).Value : string.Empty;
}
<!DOCTYPE html>
<?xml version="1.0" encoding="UTF-8" ?>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>测试L+</title>
    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/quirk/hover.css" />
        <link rel="stylesheet" href="~/css/quirk/font-awesome.css" />
        <link rel="stylesheet" href="~/css/quirk/weather-icons.css" />
        <link rel="stylesheet" href="~/css/quirk/ionicons.css" />
        <link rel="stylesheet" href="~/css/quirk/toggles-full.css" />
        <link rel="stylesheet" href="~/css/quirk/morris.css" />
        <link rel="stylesheet" href="~/css/quirk/quirk.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/quirk/hover.css" />
        <link rel="stylesheet" href="~/css/quirk/font-awesome.css" />
        <link rel="stylesheet" href="~/css/quirk/weather-icons.css" />
        <link rel="stylesheet" href="~/css/quirk/ionicons.css" />
        <link rel="stylesheet" href="~/css/quirk/toggles-full.css" />
        <link rel="stylesheet" href="~/css/quirk/morris.css" />
        <link rel="stylesheet" href="~/css/quirk/quirk.css" />
    </environment>
</head>
<body>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js">
        </script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js">
        </script>
        <script src="~/lib/quirk/modernizr.js">
        </script>
        <script src="~/lib/quirk/jquery-ui.js">
        </script>
        <script src="~/lib/quirk/toggles.js">
        </script>
        <script src="~/lib/quirk/morris.js">
        </script>
        <script src="~/lib/quirk/raphael.js">
        </script>
        <script src="~/lib/quirk/jquery.flot.js">
        </script>
        <script src="~/lib/quirk/jquery.flot.resize.js">
        </script>
        <script src="~/lib/quirk/jquery.flot.spline.js">
        </script>
        <script src="~/lib/quirk/jquery.knob.js">
        </script>
        <script src="~/lib/quirk/quirk.js">
        </script>
        <script src="~/lib/quirk/dashboard.js">
        </script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/lib/quirk/modernizr.js">
        </script>
        <script src="~/lib/quirk/jquery-ui.js">
        </script>
        <script src="~/lib/quirk/toggles.js">
        </script>
        <script src="~/lib/quirk/morris.js">
        </script>
        <script src="~/lib/quirk/raphael.js">
        </script>
        <script src="~/lib/quirk/jquery.flot.js">
        </script>
        <script src="~/lib/quirk/jquery.flot.resize.js">
        </script>
        <script src="~/lib/quirk/jquery.flot.spline.js">
        </script>
        <script src="~/lib/quirk/jquery.knob.js">
        </script>
        <script src="~/lib/quirk/quirk.js">
        </script>
        <script src="~/lib/quirk/dashboard.js">
        </script>
    </environment>
    <header>
        <div class="headerpanel">
            <div class="logopanel">
                <h2><a asp-action="index" asp-controller="home">L+</a></h2>
            </div><!-- logopanel -->
            <div class="headerbar">
                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                <div class="searchpanel">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div><!-- input-group -->
                </div>
                <div class="header-right">
                    <ul class="headermenu">
                        <li>
                            @Html.Partial("_Notice")
                        </li>
                        <li>
                            <div class="btn-group">
                                @Html.Partial("_UserNav")
                            </div>
                        </li>
                        <li>
                            <button id="chatview" class="btn btn-chat alert-notice">
                                <span class="badge-alert"></span>
                                <i class="fa fa-comments-o"></i>
                            </button>
                        </li>
                    </ul>
                </div><!-- header-right -->
            </div><!-- headerbar -->
        </div><!-- header-->
    </header>
    <section>
        <div class="leftpanel">
            <div class="leftpanelinner">
                <!-- ################## LEFT PANEL PROFILE ################## -->
                <div class="media leftpanel-profile">
                    <div class="media-left">
                        <a href="#">
                            <img src="~/images/photos/loggeduser.png" alt="" class="media-object img-circle" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">@UserName <a data-toggle="collapse" data-target="#loguserinfo" class="pull-right"><i class="fa fa-angle-down"></i></a></h4>
                    </div>
                </div><!-- leftpanel-profile -->
                <div class="leftpanel-userinfo collapse" id="loguserinfo">
                    @Html.Partial("_UserInfo")
                </div><!-- leftpanel-userinfo -->
                <ul class="nav nav-tabs nav-justified nav-sidebar">
                    <li class="tooltips active" data-toggle="tooltip" title="Main Menu"><a data-toggle="tab" data-target="#mainmenu"><i class="tooltips fa fa-ellipsis-h"></i></a></li>
                    <li class="tooltips unread" data-toggle="tooltip" title="Check Mail"><a data-toggle="tab" data-target="#emailmenu"><i class="tooltips fa fa-envelope"></i></a></li>
                    <li class="tooltips" data-toggle="tooltip" title="Contacts"><a data-toggle="tab" data-target="#contactmenu"><i class="fa fa-user"></i></a></li>
                    <li class="tooltips" data-toggle="tooltip" title="Settings"><a data-toggle="tab" data-target="#settings"><i class="fa fa-cog"></i></a></li>
                    <li class="tooltips" data-toggle="tooltip" title="Log Out"><a href="signin.html"><i class="fa fa-sign-out"></i></a></li>
                </ul>
                <div class="tab-content">
                    <!-- ################# MAIN MENU ################### -->
                    @Html.Partial("_Menu")
                    <!-- ######################## EMAIL MENU ##################### -->
                    @Html.Partial("_EmailMenu")
                    <!-- ################### CONTACT LIST ################### -->
                    @Html.Partial("_ContactList")
                    <!-- #################### SETTINGS ################### -->
                    @Html.Partial("_Settings")
                </div><!-- tab-content -->
            </div><!-- leftpanelinner -->
        </div><!-- leftpanel -->
        <div class="mainpanel">
            <!--<div class="pageheader">
              <h2><i class="fa fa-home"></i> Dashboard</h2>
            </div>-->
            <div class="contentpanel">
                @RenderBody()
            </div><!-- contentpanel -->
        </div><!-- mainpanel -->
    </section>

    @RenderSection("scripts", required: false)
</body>
</html>
